[storage]
engine = file_system
path =
directory = Mackup

[applications_to_sync]
zsh
powerlevel10k
ssh
git
hammerspoon
iterm2
aws
vscode

# macosx
# 1password-4
# homebrew
# terminal
# itermocil
# telegram_macos
# postico
